 
body{ 
	margin:0 auto; 
	background-color: white;
	position: relative;
	font:14px "Microsoft YaHei",Heiti SC,Droidsansfallback,Droid Sans, Arial, Helvetica, sans-serif; 
	color:#626665; 
	position:relative;
	-webkit-tap-highlight-color:rgba(255,255,255,0);  
}
img{
	background-color: transparent; 
}
.top{ 
	height: 25px;
	background-color: rgba(75, 123, 249, 1); 
    padding:0 1em; box-sizing:border-box;
}
.jiemian{
	background-color: rgba(75, 123, 249, 1); 
}
.head{ 
	height: 45px;
	box-sizing:border-box;
	background-color: rgba(75, 123, 249, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	text-align: center;
	/*border: 0px solid rgba(187, 187, 187, 1);*/
	font-family: Microsoft Yahei;
}
.fanhui{
	left: 11px;
	top: 29px;
	height: 20px;
	background-color: transparent; 
	float: left;
	position: absolute;
}
.biaoti{
	left: 40%;
	top: 9px;
	height: 20px;
	background-color: transparent; 
	background-color: rgba(75, 123, 249, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
	text-align: center;
	float: left;
	position: absolute;
}
#shoujihao{
	left: 14px;
	top: 77px;
	width: 65px
	height: 23px;
	line-height: 20px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 1);
	font-family: Arial;
	float: left;
	position: absolute;
}
#iphone{
	float: left;
	left: 10%;
	top: 78px;  
	line-height:30px;
	width: 80%;
	text-align: left;
	border: 1px solid rgba(187, 187, 187, 1);
	position: absolute;
}
#yanzhengma{
	left: 8px;
	top: 130px;
	width: 65px;
	height: 23px;
	line-height: 20px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#mima{
	left: 16px;
	top: 130px;
	height: 23px;
	line-height: 20px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;	
}
#verify-text{
	left: 10%;
	top: 128px;
	width: 50%;
	height: 26px;
	text-align: left;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}
#password{
	left: 10%;
	top: 130px;
	width: 80%;
	line-height:30px;
	text-align: left;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}
#new{
	left: 16px;
	top: 180px;
	height: 23px;
	line-height: 20px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#newmima{
	left: 10%;
	top: 180px;
	height: 26px;
	width: 80%;
	text-align: left;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}
#queren{
	left: 15px;
	top: 230px;
	height: 23px;
	line-height: 20px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#querenmima{
	left: 10%;
	top: 229px;
	height: 26px;
	width: 80%;
	text-align: left;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}
#verify{
	right: 15px;
	top: 128px;
	width: 93px;
	height: 24px;
	opacity: 0.67;
	border-radius: 4px;
	background-color: rgba(187, 187, 187, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(187, 187, 187, 1);
	position: absolute;
}
#zhuce{
	left: 24px;
	top: 300px;
	width: 87%;
	height: 41px;
	border-radius: 4px;
	background-color: rgba(75, 123, 249, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(63, 81, 181, 1);
	float: left;
	position: absolute;
}
#denglu{
	left: 12%;
	top: 230px;
	width: 77%;
	height: 41px;
	border-radius: 4px;
	background-color: rgba(63, 81, 181, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}
#zhc{
	left: 12%;
	top: 283px;
	width: 77%;
	height: 41px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(63, 81, 181, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}
#wangjimima{
	left: 180px;
	top: 190px;
	height: 23px;
	line-height: 16px;
	color: rgba(63, 81, 181, 1);
	font-size: 11px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#wancheng{
	left: 38px;
	top: 300px;
	width: 80%;
	height: 37px;
	border-radius: 4px;
	background-color: rgba(187, 187, 187, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(187, 187, 187, 1);
	float: left;
	position: absolute;
}

#selected_shouye{
	left: 35px;
	top: 580px;
	width: 27px;
	height: 27px;
	opacity: 0.98;
	background-color: transparent; 
	float: left;
	position: absolute;
 }
#selected_shebei{
	left: 50%;
	top: 580px;
	width: 24px;
	height: 24px;
	background-color: transparent; 
	float: left;
	position: absolute;
}
#selected_gerenzhongxing{
	right: 35px;
	top: 580px;
	width: 24px;
	height: 24px;
	opacity: 0.31;
	background-color: transparent; 
	float: left;
	position: absolute;
}

@media screen and (max-width: 349px){
   #selected_shouye{ 
		top: 525px; 
	}
	#selected_shebei{ 
		top: 525px; 
	}
	#selected_gerenzhongxing{ 
		top: 525px; 
	}
	#denglu{
		left: 12%;
		width: 77%;
	}
	#zhc{
		left: 12%;
		width: 77%;
	}
}
@media screen and (min-width: 400px) and (max-width: 479px){
    #selected_shouye{ 
		top: 640px; 
	}
	#selected_shebei{ 
		top: 640px; 
	}
	#selected_gerenzhongxing{ 
		top: 640px; 
	}
	#denglu{
		left: 12%;
		width: 77%;
	}
	#zhc{
		left: 12%;
		width: 77%;
	}
}

@media screen and (min-width: 480px) and (max-width: 787px){
    #selected_shouye{ 
		top: 990px; 
	}
	#selected_shebei{ 
		top: 990px; 
	}
	#selected_gerenzhongxing{ 
		top: 990px; 
	}
	#denglu{
		left: 12%;
		width: 77%;
	}
	#zhc{
		left: 12%;
		width: 77%;
	}
}
 