.logo{
	left: 0px;
	top: 0px;
	width: 100%;
	height: 180px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
.circle{
	left: 31%;
	top: 30%;
	width: 38%;
	height: 146px;
	line-height: 20px;	
	border-radius: 100px;
	text-align: center;
	box-shadow: 0px 0px 42px 0px;
	border: 1px solid;
	float: left;
	position: absolute;
}
#xuanxiang{
	width: 100%;
	height: 243px;
}
#lgwenzi{
	left: 149px;
	top: 190px;
	width: 81px;
	height: 29px;
	line-height: 29px;
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#lgpy{
	left: 153px;
	top: 226px;
	width: 70px;
	height: 23px;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#dingdan{
	left: 38%;
	top: 280px;
	width: 90px;
	height: 90px;
	line-height: 20px;
	border-radius: 100px;
	text-align: center;
	border: 1px solid rgba(94, 165, 250, 1);
	float: left;
	position: absolute;
	background-color: transparent; 
}
#dingdan_text{
	left: 44%;
	top: 375px;
	width: 53px;
	height: 23px;
	line-height: 19px;
	opacity: 0.5;
	color: rgba(16, 16, 16, 1);
	font-size: 13px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#yingxiao{
	left: 14%;
	top: 380px;
	width: 70px;
	height: 70px;
	line-height: 20px;
	border-radius: 100px;
	background-color: rgba(0, 150, 136, 1);
	text-align: center;
	border: 1px solid rgba(136, 235, 223, 1);
	float: left;
	position: absolute;
}
#yingxiao_text{
	left: 16%;
	top: 452px;
	width: 57px;
	height: 23px;
	line-height: 20px;
	opacity: 0.5;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#quehuo_text{
	right: 14%;
	top: 452px;
	width: 57px;
	height: 23px;
	line-height: 20px;
	opacity: 0.5;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;	
}
#quehuo{
	right: 12%;
	top: 380px;
	width: 70px;
	height: 70px;
	line-height: 20px;
	border-radius: 100px;
	background-color: rgba(255, 152, 0, 1);
	text-align: center;
	border: 1px solid rgba(255, 152, 0, 1);
	float: left;
	position: absolute;
}
@media screen and (max-width: 349px){
   	.circle{ 
		width: 46%; 
		left:28%;
	}
	#lgwenzi{
	left: 126px;
	top: 190px;
	}
	#lgpy{
		left: 131px;
		top: 226px;
	}
	#dingdan{ 
		left:36%;
		top:293px;
	}
	#dingdan_text{ 
		left: 42%;
		top:388px;
	}
	#yingxiao{ 
		left:12%;
		top:385px;
	}
	#yingxiao_text{ 
		left: 14%;
		top:458px;
	}
	#quehuo{
		top:385px;
	}
	#quehuo_text{
		top:458px;
	}
}
@media screen and (min-width: 400px) and (max-width: 479px){
   	.circle{ 
		width: 36%; 
		left:32%;
	}
	#lgwenzi{
	left: 166px;
	top: 190px;
	}
	#lgpy{
		left: 171px;
		top: 226px;
	}
	#dingdan{ 
		left:40%;
		top:293px;
	}
	#dingdan_text{ 
		left: 45%;
		top:388px;
	}
	#yingxiao{ 
		left:12%;
		top:385px;
	}
	#yingxiao_text{ 
		left: 14%;
		top:458px;
	}
	#quehuo{
		top:385px;
		right: 11%;
	}
	#quehuo_text{
		top:458px;
		right: 13%;
	}
}
@media screen and (min-width: 480px) and (max-width: 1023px){
    .circle{ 
		width: 24%; 
		left:38%;
		height: 99%;
		top: 20px;
	}
	#lgwenzi{
	left: 335px;
	top: 190px;
	}
	#lgpy{
		left: 340px;
		top: 226px;
	}
	#dingdan{ 
		left:44%;
		top:293px;
		width: 100px;
		height: 100px;
	}
	#dingdan_text{ 
		left: 47%;
		top:397px;
	}
	#yingxiao{ 
		left:12%;
		top:385px;
		width: 85px;
		height: 85px;
	}
	#yingxiao_text{ 
		left: 14%;
		top:472px;
	}
	#quehuo{
		top:385px;
		right: 11%;
		width: 85px;
		height: 85px;
	}
	#quehuo_text{
		top:472px;
		right: 13%;
	}
}
@media screen and (min-width: 1024px){
    .circle{ 
		width: 18%; 
		left:43%;
		height:100%;
		top: 20px;
	}
	#lgwenzi{
	left: 485px;
	top: 185px;
	}
	#lgpy{
		left: 490px;
		top: 226px;
	}
	#dingdan{ 
		left:47%;
		top:293px;
		width: 100px;
		height: 100px;
	}
	#dingdan_text{ 
		left: 49%;
		top:397px;
	}
	#yingxiao{ 
		left:12%;
		top:385px;
		width: 85px;
		height: 85px;
	}
	#yingxiao_text{ 
		left: 13%;
		top:472px;
	}
	#quehuo{
		top:385px;
		right: 10%;
		width: 85px;
		height: 85px;
	}
	#quehuo_text{
		top:472px;
		right: 11%;
	}
}