.logo{
	left: 0px;
	top: 0px;
	width: 100%;
	height: 200px;
	line-height: 20px;
	background-color: rgba(75, 123, 249, 1);
	/*color: rgba(75, 123, 249, 1);*/
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
.circle{
	left: 33%;
	top: 10%;
	width: 36%;
	height: 146px;
	line-height: 20px;	
	border-radius: 100px;
	background-color:#FFFFF7;
	text-align: center;
	box-shadow: 0px 0px 42px 0px;
	border: 1px solid;
	-moz-border-radius: 50%;   
	-webkit-border-radius: 50%;
	float: left;
	position: absolute;
}
#xuanxiang{
	width: 100%;
}
#lgwenzi{
	left: 34px;
	top: 40px;
	width: 81px;
	height: 29px;
	line-height: 29px;
	color: rgba(75, 123, 249, 1);
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#lgpy{
	left: 41px;
	top: 77px;
	width: 70px;
	height: 23px;
	line-height: 17px;
	color: rgba(75, 123, 249, 1);
	font-size: 12px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#dingdan{
	left: 40%;
	top: 260px;
	width: 90px;
	height: 90px;
	line-height: 20px;
	border-radius: 100px;
	text-align: center;
	border: 1px solid rgba(94, 165, 250, 1);
	float: left;
	position: absolute;
	background-color: transparent; 
}
#dingdan_text{
	left: 44%;
	top: 360px;
	width: 53px;
	height: 23px;
	line-height: 19px;
	opacity: 0.5;
	color: rgba(16, 16, 16, 1);
	font-size: 13px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#yingxiao{
	left: 15%;
	top: 360px;
	width: 70px;
	height: 70px;
	line-height: 20px;
	border-radius: 100px;
	background-color: rgba(0, 150, 136, 1);
	text-align: center;
	border: 1px solid rgba(136, 235, 223, 1);
	float: left;
	position: absolute;
}
#yingxiao_text{
	left: 17%;
	top: 435px;
	width: 57px;
	height: 23px;
	line-height: 20px;
	opacity: 0.5;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;
}
#quehuo_text{
	right: 14%;
	top: 435px;
	width: 57px;
	height: 23px;
	line-height: 20px;
	opacity: 0.5;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	float: left;
	position: absolute;	
}
#quehuo{
	right: 12%;
	top: 360px;
	width: 70px;
	height: 70px;
	line-height: 20px;
	border-radius: 100px;
	background-color: rgba(255, 152, 0, 1);
	text-align: center;
	border: 1px solid rgba(255, 152, 0, 1);
	float: left;
	position: absolute;
}
@media screen and (max-width: 349px){
   	.circle{ 
		width: 48%; 
		left:26%;
	}
	#dingdan{ 
		left:35%;
		top:220px;
	}
	#dingdan_text{ 
		left: 40%;
		top:320px;
	}
	#yingxiao{ 
		left:12%;
		top:300px;
	}
	#yingxiao_text{ 
		left: 14%;
		top:380px;
	}
	#quehuo{
		top:300px;
	}
	#quehuo_text{
		top:380px;
	}
}